body {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h6 {
  font-size: 0.8em;
  font-weight: normal;
}
.header {
  margin: 0;
  padding: 15px;
  text-align: left;
  font-size: 1.3em;
  background-color: rgb(169 169 177);
  opacity: 0.8;
}
.logo {
  display: block;
  margin-top: 5px;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 25px;
}
h1 {
  margin-left: 10px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Monoton", cursive;
}

.container-fluid {
  margin-top: 10px;
  width: 100%;
}
.form-control {
  width: 25%;
}
.avatar {
  width: 160px;
  height: 160px;
  border: 1px solid rgb(247, 238, 238);
  border-radius: 25px;
  margin: 15px auto 48px auto;
}

.form-label,
#username,
.btn-primary {
  margin: 0 auto;
  text-align: center;
}

#username,
.btn-primary {
  width: 200px;
}

.label,
.btn-primary {
  display: block;
  margin-top: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
  line-height: 0.2em;
  padding: 120px 30px 0 30px;
}

.contact-link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
#slides {
  border: 1px none rgba(209, 207, 213, 0.4);
  border-radius: 20px 200px 10px 100px;
  width: 440px;
  height: 480px;
  margin: auto;
}
.slide-show {
  overflow: hidden;
  position: relative;
}
.slides-inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: 1000ms;
}
section {
  margin-top: 10px;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

h2 {
  font-size: 2em;
  color: transparent;
  background-image: url("https://www.5.ua/media/pictures/original/146560.jpg?t=1534932390");
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center;

  animation: pulse 0.8s linear infinite alternate;
}

@media (width: 320px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0;
  }
  h6,
  .contact-link {
    font-size: 10px;
  }
  .avatar {
    max-width: 200px;
    max-height: 200px;
    margin: 15px auto 48px auto;
  }
  form {
    width: 320px;
    margin: 0 auto;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  #username,
  .btn-primary {
    width: 304px;
    display: absolute;
    margin-left: 8px;
    margin-right: 8px;
  }
  .info {
    margin: 0 auto;
  }
  .contact {
    display: none;
  }
  #slides,
  .slides-inner {
    display: none;
  }
  h2 {
    font-size: 1.8em;
  }
}
