.nav {
  margin: 0;
  padding: 15px;
  z-index: 99;
  text-align: left;
  font-size: 1.3em;
  width: 100%;
  background-color: rgb(193, 193, 214);
  opacity: 0.8;
  justify-content: space-between;
  /* position: fixed;
  margin-bottom: 2000px; */
}
.logo {
  display: block;
  margin-top: 5px;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 25px;
}
h1 {
  margin-left: 10px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Monoton", cursive;

  word-spacing: 5px;
}

.cart {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.5s;
  filter: brightness(240%);
}
.generalCount {
  font-size: 14px;

  background-color: rgb(243, 108, 175);

  color: aliceblue;
  border-radius: 25px;
  margin: 0 auto;
  text-align: justify;
  padding: 1px;
  position: absolute;
  right: 265px;
}
.avatarMini {
  display: block;
  width: 30px;
  margin-top: 5px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.sign-out {
  height: 40px;
  display: block;
  margin-right: 20px;
}
h6 {
  margin-right: 20px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.cart:hover,
.avatarMini:hover,
.userName:hover,
.col-auto:hover {
  transform: scale(1.1);
  z-index: 2;
}
@media screen and (max-width : 1024px) { 
*{
  background-color: red;
}
 }
 @media screen and (max-width : 800px) { 
  *{
background-color: blue;
 } } 
@media screen and (max-width : 420px) { 
  *{
    background-color: blueviolet;
  }
  h1 {
    font-size: 36px;
  }
}