.header {
  padding: 0;
  text-align: center;
}
.footer {
  margin: 0 auto;
  position: relative;
  top: 100px;
}
.header hr,
.footer hr {
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgb(161, 158, 154);
}

.header-text,
.footer-text {
  margin-bottom: 0;
  word-spacing: 5px;
  color: rgb(104, 102, 102);
}
.app-link {
  font-weight: 900;
  text-decoration: none;
  opacity: 0.8;
}
.app-link:hover {
  color: black;
  text-decoration: double;
}

 @media screen and (max-width : 1024px) { 
*{
  background-color: red;

}
 }
 @media screen and (max-width : 800px) { 
  *{
background-color: blue;
 } } 
@media screen and (max-width : 420px) { 
  *{
    background-color: blueviolet;
    
  }
} 